#header-img, #nav-bar {
  display: inline;
}
#nav-bar {
  float: right;
  font-size: 1.34rem;
  align-items: top;
  position: fixed;
  background-color: white;
}
#video {
  display: block;
  margin: 1rem auto;
}
.text {
  text-align: center;
}
#form {
  text-align: center;
}
#product-1, #product-2, #product-3 {
  width: 10rem;
  height: 12rem;
  background-color: yellow;
}
#prod-ex {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
@media (max-width: 500px) {
  #prod-ex {
    flex-direction: column;
    align-items: center;
  }
}