label {
  display: block;
  padding: 5px;
}
#description {
  font-size: 22px;
}
input {
  margin-left: .5em;
  background-color: #49606e;
  color: #c8d8e3;
}
fieldset {
  border: none;
  margin-top: 1.5em;
  padding: 0
}
#comments {
  display: block;
  margin-top: 1em
}
h1, p, form {
  margin: 0, auto;
  text-align: center;
}
textarea {
  width: 50%;
  margin: auto;
  background-color: #49606e;
  color: #c8d8e3
}
body {
  width: 50%;
  height: 100vh;
  margin: auto;
  background-color: #49606e;
  color: #c8d8e3
}
button {
  margin-top: 1em;
  background-color: #33444f;
  color: #c8d8e3
}
#form {
  background-color: #33444f
}
select {
  background-color: #49606e;
  color: #c8d8e3
}
.shirt {
  padding-right: .75rem
}
.pants {
  padding-right: .5em
}
